body {
    margin: 0px;
}

.texto {
    background-color: #eeeeee;
    color: #ff0000;
    width: 900px;
    height: 600px;
    font-size: 21px;
    margin-top: 21px;
    margin: auto;
    font-family: Helvetica, Verdana;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
